@media(max-width: 480px) {
    .input-search {
        display: none;
    }
    .main-banner {
        width: 100vw;
        height: 100%;
    }
    .vegetable-items {
        flex-direction: column;
    }
    
}