@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kaushan+Script&family=Pacifico&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-green {
    background-color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 33;
}

.nav-main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

.nav-img img {
    width: 180px;
    height: 60px;
}

.location {
    display: flex;
    gap: 3px;
    font-size: 12px;
    color: rgb(24, 43, 68);
    align-items: center;
    font-weight: bold;
}

#lo {
    color: rgb(24, 43, 68);
    font-size: 18px;
}

#do {
    color: rgb(24, 43, 68);
    font-size: 18px;
}

.location #sp {
    color: rgb(135, 133, 133);
    font-size: 13px;
}

.input-search {
    background-color: rgba(232, 231, 231, 0.836);
    width: 500px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 5px;
}

#se {
    font-size: 17px;
    color: rgb(135, 133, 133);
}

.input-search input {
    width: 450px;
    height: 24px;
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
}

.cart-main {
    display: flex;
    width: 140px;
    justify-content: space-between;
}

.cart-one {
    font-size: 25px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.login-one {
    display: flex;
    gap: 8px;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
}

#use {
    font-size: 20px;
}

/* banner section */

.main-banner {
    padding-top: 100px;
}

.banner-sec {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.banner-sec img {
    width: 100%;
    height: 330px;
}



/* item main section */
.item-main-container {
    /* background-color: yellowgreen; */
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.item-content {
    background-color: rgb(24, 43, 68);
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.vegetable-items {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: auto;
    margin: 0 auto;
}

.item-one {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

.item-img {
    position: relative;
}

.item-img img {
    width: 150px;
    height: 182px;
    border-radius: 8px;
    
}

.item-text {
    text-align: center;
    position: relative;
    bottom: 60px;
    font-size: 17px;
    font-weight: bold;
}

.black-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgb(24, 43, 68));
}

.heading-text {
    background-color: white;
}

.header-text p{
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    font-family: "Kaushan Script", cursive;
    font-size: 22px;
}

.much-main-container {
    /* background-color: red; */
    width: 100%;
    height: auto;
}


.much-container {
    /* background-color: yellowgreen; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    /* height: 65vh; */
    gap: 20px;
    margin: 16px auto;
}

.haven-main-container {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 240px;
    /* height: 315px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    gap: 20px;
}

.haven-img img {
    width: 200px;
    height: 200px;
}

#the {
    color: rgb(104, 103, 103);
}

.price-container {
    display: flex;
    /* background-color: yellow; */
    width: 100%;
    justify-content: space-between;
    color: rgb(24, 43, 68);
}

.add-cart-btn {
    background-color: rgb(217, 204, 102);
    padding: 5px 8px;
    display: flex;
    gap: 5px;
    font-size: 13px;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
}


/* footer */

.customer-footer {
    background-color: rgb(34, 35, 33);
    width: 100%;
    /* height: 80vh; */
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    font-size: 14px;
}

.main-footer {
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.customer-top {
    display: flex;
    gap: 50px;
    border-bottom: 1px solid rgb(62, 62, 62);
    padding-bottom: 20px;
}

.service {
    /* background-color: red; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.account {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.customer-main-bottom {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.master-card {
    display: flex;
    gap: 20px;
    align-items: center;
}

.visa-btn {
    background-color: rgb(91, 90, 90);
    padding: 4px 8px;
    border-radius: 3px;
}

.card {
    background-color: rgb(91, 90, 90);
    padding: 4px 8px;
    border-radius: 3px;
}

.upi {
    background-color: rgb(91, 90, 90);
    padding: 4px 8px;
    border-radius: 3px;
}


/* cart section */

.cart-main-section {
    display: none;
    background-color: #00000052;
    max-width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10001;
}



.parent-cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    max-height: 75vh;
    overflow: auto;
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    width: 90%;
    margin-inline: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

}

.cart-sec {
    background-color: white;
    width: 35%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.shop-cart {
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    align-items: center;
    border-bottom: 2px solid black;
}

.cross {
    background-color: #d0cdcd;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.cart-main-img {
    /* background-color: red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cart-img img {
    width: 86px;
    height: 86px;
}

.plus-sub-main {
    display: flex;
    /* align-items: center; */
    width: 70%;
    height: 8%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.plus-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
    width: 100px;
    gap: 12px;
    /* height: 35px; */
}

.sub {
    /* background-color: red; */
    background-color: #d0cdcd;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.one-two {
    border: 1px solid black;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus {
    /* background-color: red; */
    background-color: #d0cdcd;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
}

.remove-btn {
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 14px;
}

.total {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-inline: 16px;
    height: 50px;
    background: rgb(247, 168, 32);
    position: absolute;
    bottom: 0;
    right: 0;
}